<div class="container" *ngFor="let one of editOneAssignment; let in = index">

  <form (ngSubmit)="onSubmit(editAssignmentForm)" #editAssignmentForm="ngForm">

    <div class="col-sm-12 form-group">
      <H4>Edit your selected vehicle & camera assignment.</H4>
      <div class="col-sm-12 form-group">
        <p>Original Date Created on...{{ one.dateCreated | date: 'medium' }} </p>
        <label for="DateCreated">Date Assignment Modified on... </label>
        {{ DateCreated | date: 'medium' }}
        <input type="hidden" id="create-date" name="DateCreated" [(ngModel)]="DateCreated" class="form-control">
      </div>

      <div class="col-sm-6">
        <label>Select a Vehicle</label>
        <select type="text" name="VehicleId" [(ngModel)]="one.vehicleId" class="form-control" [(ngModel)]="VehicleId">
          <ng-container *ngFor="let veh of vehicleList">
            <option [ngValue]="veh.id">
              {{ veh.name + " ID number " + veh.id }}
            </option>
          </ng-container>
        </select>
      </div>

      <div class="col-sm-6">
        <label>Select a Camera</label>
        <select type="text" name="CameraId" [(ngModel)]="one.cameraId" class="form-control" [(ngModel)]="CameraId">
          <ng-container *ngFor="let cam of cameraList">
            <option>
              {{ cam.id }}
            </option>
          </ng-container>
        </select>
      </div>

      <div class="col-sm-12 form-group">
        <label class="radioLabel1">Delete This Assignment </label>
        <div>
          <label for="true" class="radioLabel2">Check Here to Delete </label>
          <input type="radio" name="Deleted" class="" [(ngModel)]="one.deleted" [(ngModel)]="Deleted" [value]="true">
          <label for="true" class="radioLabel3"> and Click to Confirm Delete </label>
          <button class="deleteButton" type="button" (click)="deActivateAssignment(editAssignmentForm)"> Delete</button>
        </div>
        <div>
          <label for="true" class="radioLabel2">Keep Assignment Active </label>
          <input type="radio" name="Deleted" [(ngModel)]="one.deleted" [(ngModel)]="Deleted" [value]="false">
        </div>
      </div>

      <div>
        <input type="hidden" name="Id" [(ngModel)]="one.id" class="form-control" [(ngModel)]="Id">
      </div>

    </div>

    <div class="col-sm-12" id="">
      <button class="" type="submit"> Submit</button>
    </div>

  </form>

</div>