radio {
    padding-left: 10px;
}

.radioLabel1 {
    margin-top: 20px;
    margin-bottom: 15px;
}

.radioLabel2 {
    padding-right: 20px;
}

.radioLabel3 {
    margin-left: 15px;
}

.deleteButton {
    color: red;
    margin-left: 10px;
}
H3, H4 {
    color: #ff5e00;
}


/* table { border-collapse:collapse; }

table thead th { border-bottom: 1px solid #000; } */

